.frame-1{
    height: 880px;
    border: 2px solid;
    border-right: 2px solid;
    margin-left: 250px;
    margin-right: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
.frame-2{
    border-right: 2px solid;
    width: 500px;
    height: 880px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(158, 161, 163);
}
.portrait{
    margin-left: 200px;
    margin-top: 50px;
}
.name{
    position: absolute;
    top: 200px;
    margin-left: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
}
.image-phone-call{
    position: absolute;
    margin-top: -105px;
    margin-left: -30px;
}
.image-email{
    position: absolute;
    margin-top: -70px;
    margin-left: -30px;
}
.image-birthday{
    position: absolute;
    margin-top: -40px;
    margin-left: -30px;
}
.image-title-1{
    position: absolute;
    z-index: 1;
    margin-top: -35px;
    margin-left: 5px;
}
.per-info-title{
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 200, 20);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 430px;
    margin-top: -200px;
    margin-left: -30px;
    padding-left: 25px;
    color: black;
    z-index: -1;
}
.image-per-info-title{
    position: absolute;
    margin-top: -35px;
    margin-left: -25px;
}
.per-info{
    position: absolute;
    margin-top: 280px;
    margin-left: 50px;
    color: white;
}
.per-info-content{
    margin-left: 50px;
}
.edu-title{
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 200, 20);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 430px;
    padding-left: 25px;
    color: black;
    z-index: -1;
}
.edu{
    position: absolute;
    width: 420px;
    margin-top: 220px;
    margin-left: 20px;
    color: white;
}
.edu-content{
    margin-left: 50px;
}
.lang-title{
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 200, 20);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 430px;
    padding-left: 25px;
    color: black;
    z-index: -1;
}
.lang-en{
    position: absolute;
    margin-top: 420px;
    margin-left: 20px;
    color: white;
}
.en{
    margin-top: 0px;
    margin-left: 50px;
}
.image-stars{
    position: absolute;
    margin-top: -20px;
    margin-left: 110px;
}
.tech-skill-title{
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 200, 20);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 430px;
    padding-left: 25px;
    color: black;
    z-index: -1;
}
.tech-skill{
    position: absolute;
    width: 430px;
    margin-top: 520px;
    margin-left: 20px;
    color: white;
}
.tech-skill-content{
    margin-left: 50px;
}
.statement{
    width: 400px;
    margin-top: -830px;
    margin-left: 580px;
}
.achieve-cert{
    width: 400px;
    margin-top: 70px;
    margin-left: 580px;
}
.exp{
    width: 400px;
    margin-top: 60px;
    margin-left: 580px;
}
.image-title{
    margin-top: 5px;
    margin-left: -40px;
}
.title{
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
    border-bottom: 2px solid;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}
.name-project{
    font-weight: bold;
}
.content-project{
    border-left: 2px solid;
    margin-left: 3px;
    padding-left: 20px;
}